.accountPage {
    flex: 1 1 auto;
    display: flex;
    flex-direction: row;
    width: 100%;
}
.SignInDiv{
    align-items: center;
    text-align: center;
    margin-left: 9cm;
}

.LoginDiv {
    border: thick double;
}

.LoggedIn {
    align-items: center;
    text-align: center;
    display: flex;
}

.AccountIcon {
    margin-left: 8cm;
    margin-top: .1cm;
}