.man {
    background: url("../avatars/man.png") no-repeat;
    background-position: center;
    border: none;
}

.woman {
    background: url("../avatars/profile.png") no-repeat;
    background-position: center;
    border: none;
}

.princess {
    background: url("../avatars/princess.png") no-repeat;
    background-position: center;
    border: none;
}

.hippie {
    background: url("../avatars/hippie.png") no-repeat;
    background-position: center;
    border: none;
}

.dancer {
    background: url("../avatars/dancer.png") no-repeat;
    background-position: center;
    border: none;
}

.dancing {
    background: url("../avatars/dancing.png") no-repeat;
    background-position: center;
    border: none;
}

.elf {
    background: url("../avatars/elf.png") no-repeat;
    background-position: center;
    border: none;
}

.ninja {
    background: url("../avatars/ninja.png") no-repeat;
    background-position: center;
    border: none;
}

.queen {
    background: url("../avatars/queen.png") no-repeat;
    background-position: center;
    border: none;
}

.vampire {
    background: url("../avatars/vampire.png") no-repeat;
    background-position: center;
    border: none;
}

.cat {
    background: url("../avatars/cat.png") no-repeat;
    background-position: center;
    border: none;
}

.dog {
    background: url("../avatars/dog.png") no-repeat;
    background-position: center;
    border: none;
}

.fox {
    background: url("../avatars/fox.png") no-repeat;
    background-position: center;
    border: none;
}

.owl {
    background: url("../avatars/owl.png") no-repeat;
    background-position: center;
    border: none;
}

.elephant {
    background: url("../avatars/elephant.png") no-repeat;
    background-position: center;
    border: none;
}

.koala {
    background: url("../avatars/koala.png") no-repeat;
    background-position: center;
    border: none;
}

.diplodocus {
    background: url("../avatars/diplodocus.png") no-repeat;
    background-position: center;
    border: none;
}

.clown {
    background: url("../avatars/clown.png") no-repeat;
    background-position: center;
    border: none;
}

.tyrannosaurus {
    background: url("../avatars/tyrannosaurus.png") no-repeat;
    background-position: center;
    border: none;
}

.turtle {
    background: url("../avatars/turtle.png") no-repeat;
    background-position: center;
    border: none;
}